@import "tailwindcss";

@theme {
  --color-primary: #374151;
  --color-secondary: #6b7280;
  --color-background: #ffffff;
  --color-surface: #f9fafb;
  --color-muted: #9ca3af;
}



.hide-scrollbar {
  overflow: auto;
  scrollbar-width: none;      /* Firefox */
  -ms-overflow-style: none;   /* IE & Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;              /* Chrome, Safari */
}