@import "tailwindcss";

@theme {
  --color-primary: rgb(79 70 229);
  --color-secondary: rgb(6 182 212);
  --color-background: rgb(250 250 250);
  --color-surface: rgb(255 255 255);
  --color-muted: rgb(163 163 163);
}
